<div class="row main">

  <div class="col-1 d-flex justify-content-center  align-items-center ">
    <img
    src="https://picsum.photos/id/984/900/500"
    class="rounded-circle"
    alt="..."
    height="50"
    width="50"
  />
  </div>
  <div class="col-4 justify-content-center d-flex flex-column justify-content-center ">
    <p class="title">
      Dealing with Difficult People
    </p>
    <p class="sub-title">
      by Gary Armstrong
    </p>
    <p class="sub-title">
      Ceo of Confer
    </p>
  </div>
  <div class="col-4 d-flex flex-column justify-content-center  ">
    <div class="flex-row d-flex">
      <div class="col-1">
        <i class="fa-regular fa-clock"></i>
      </div>
      <div class="col-11">
        <p class="m-0 ps-1">12-14 Jan 2019</p>
      </div>
    </div>
    <div class="d-flex flex-row ">
      <div class="col-1">
        <i class="fa fa-map" aria-hidden="true"></i>
      </div>
      <div class="col-11">
        <p class="m-0 ps-1"> Mountain Resort, Phoenix, USA </p>
      </div>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-center  align-items-center ">
    <button type="button" class="btn btn-outline-info rounded-5 ">View more</button>
  </div>
</div>

