<div class="card rounded-top-4 card-style">
  <img
    src="https://picsum.photos/id/984/900/500"
    class="card-img-top rounded-top-4"
    alt="..."
  />
  <div class="card-body">
    <div class="card-title">
      <h4>{{cardTitle}}</h4>
    </div>
    <div class="card-subtitle pt-2 pb-2">
      <div class="row">
        <div class="col d-flex">
          <div class="col-2">
            <i class="fa-regular fa-clock"></i>
          </div>
          <div class="col-10 p-0 m-0 card-title-style">{{cardDate}}</div>
        </div>
        <div class="col d-flex">
          <div class="col-2">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="col-10 ps-2 card-title-style">{{cardName}}</div>
        </div>
      </div>
    </div>
    <p class="card-text">
     {{cardText}}
    </p>
  </div>
</div>
