<div class="row main flex-column m-3 rounded-3 ">
  <div class="col name-field d-flex justify-content-end p-0 m-0">
    <div class="col-2 d-flex flex-column bg-danger m-0 p-0 media-icon">
      <span style="color: white"> <i class="fa-brands fa-facebook-f"></i></span>
      <span style="color: white"> <i class="fa-brands fa-twitter"></i></span>
      <span style="color: white"> <i class="fa-brands fa-instagram"></i></span>
      <span style="color: white"> <i class="fa-brands fa-linkedin-in"></i></span>
    </div>

  </div>
  <div class="col d-flex flex-column justify-content-end p-3">
    <div>
      <h3 class="text-primary">{{ name }}</h3>
    </div>
    <div>
      <h4 class="text-danger">{{ designation }}</h4>
    </div>
  </div>
</div>
